html {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 4096 4096' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.5'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3CfeComponentTransfer%3E%3CfeFuncR type='linear' slope='5' intercept='-2'/%3E%3CfeFuncG type='linear' slope='5' intercept='-2'/%3E%3CfeFuncB type='linear' slope='5' intercept='-2'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: 1024px;
    background-repeat: repeat;
    opacity: 0.05;
    pointer-events: none;
  }
}

.article .article-title {
  font-size: 2rem;
}

.article .n-p {
  font-size: 1rem;
  @media (min-width: 800px) {
    font-size: 1.2rem;
  }
}

.article .n-ul li {
  font-size: 0.9rem;
  @media (min-width: 800px) {
    font-size: 1.1rem;
  }
}

pre.__code__ {
  font-family: "Fira Code", "Monaco", "Consolas", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", monospace;
}


/* Chrome / Safari / Edge */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.dark *::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Firefox */
* {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.dark * {
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}
